* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Poppins, sans-serif;
}
