.About {
  .section1 {
    padding-bottom: 126px;
    margin-top: 128px;
    .container {
      display: flex;
      //   flex-wrap: wrap;
      align-items: center;
      .sec1-text {
        h4 {
          padding-bottom: 8px;
        }
        h2 {
          font-size: 54px;
          padding-bottom: 31px;
        }
        p {
          max-width: 484px;
          width: 100%;
        }
      }
    }
  }
  .hero_img {
    max-height: 640px;
    width: 100%;
  }
  .section2 {
    .container {
      .sec2-text {
        display: flex;
        flex-wrap: wrap;
        width: 1280px;
        background-color: #f4f5f5;
        padding-top: 96px;
        padding-left: 80px;
        padding-bottom: 96px;
        .sec2-left {
          h2 {
            font-size: 38px;
            padding-bottom: 16px;
          }
          p {
            padding-right: 60px;
            width: 515px;
          }
        }
        .sec2-right {
          h2 {
            font-size: 38px;
            padding-bottom: 16px;
          }
          p {
            width: 515px;
          }
        }
      }
      .sec2-img {
        margin-bottom: 128px;
        // width: 1280px;
      }
    }
  }
  .section3 {
    background-color: #f4f6fc;
    justify-content: center;
    align-items: center;
    text-align: center;
    .sec3-top {
      padding-top: 128px;
      font-size: 48px;
      padding-bottom: 48px;
    }
    .About-cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .About-card {
        background-color: #fff;
        width: 296px;
        height: 344px;
        text-align: center;

        img {
          margin-top: 48px;
          margin-left: 64px;
          margin-right: 64px;
          margin-bottom: 30px;
        }
        p {
          padding-top: 2px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .sec2-text {
    flex-wrap: wrap;
  }
  .About {
    .section1 {
      padding-bottom: 126px;
      margin-top: 128px;
      .container {
        display: flex;
        flex-direction: column;
        //   flex-wrap: wrap;
        align-items: center;
        .sec1-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          h4 {
            padding-bottom: 8px;
          }
          h2 {
            font-size: 54px;
            // max-width: 800px;
            padding-bottom: 31px;
          }
          p {
            // max-width: 484px;
            width: 100%;
            padding-bottom: 20px;
          }
        }
      }
    }
    .hero_img {
      max-height: 630px;
      max-width: 500px;
    }
    .section2 {
      .container {
        .sec2-text {
          display: flex;
          flex-wrap: wrap;
          width: 1280px;
          background-color: #f4f5f5;
          padding-top: 96px;
          padding-left: 80px;
          padding-bottom: 96px;
          .sec2-left {
            h2 {
              font-size: 38px;
              padding-bottom: 16px;
            }
            p {
              padding-right: 60px;
              width: 515px;
            }
          }
          .sec2-right {
            h2 {
              font-size: 38px;
              padding-bottom: 16px;
            }
            p {
              width: 515px;
            }
          }
        }
        .sec2-img {
          margin-bottom: 128px;
          // width: 1280px;
        }
      }
    }
    .section3 {
      background-color: #f4f6fc;
      justify-content: center;
      align-items: center;
      text-align: center;
      .sec3-top {
        padding-top: 128px;
        font-size: 48px;
        padding-bottom: 48px;
      }
      .About-cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .About-card {
          background-color: #fff;
          width: 296px;
          height: 344px;
          text-align: center;
          img {
            margin-top: 48px;
            margin-left: 64px;
            margin-right: 64px;
            margin-bottom: 30px;
          }
          p {
            padding-top: 2px;
          }
        }
      }
    }
  }
}
