.card__1 {
    background: #1C1E53;
    width: 1600px;
    height: 760px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    opacity: 0px;

}