* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Poppins, sans-serif;
}

header {
  background-color: rgb(28, 30, 83);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 32px;
  align-items: center;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav ul .nav_link {
  list-style: none;
  color: rgb(187, 187, 203);
}
.nav .contact {
  background-color: rgb(28, 30, 83);
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  border-radius: 41px;
  color: #ffffff;
}
.nav .burger-img {
  width: 49px;
  height: 49px;
  display: none;
}
.nav .burgerMenu {
  display: none;
  width: 94%;
  height: 100%;
  background: rgba(45, 49, 49, 0.9843137255);
  /* border: 1px solid; */
  position: absolute;
  top: 70px;
  left: 0;
  /* bottom: 40px; */
  display: flex;
  transform: translateX(-120%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in;
  text-align: center;
}
.nav .burgerMenu .burgerMenu-item {
  list-style: none;
  font-family: sans-serif;
  font-size: 30px;
}
.nav .burgerMenu .burgerMenu-list {
  margin-top: -50px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
}
.nav .burgerMenu ul {
  display: flex;
  flex-direction: column;
  color: rgb(187, 187, 203);
}
.nav .burgerMenushow {
  /* display: flex; */
  transform: translateX(0);
}
.nav .burgerMenuitemlink {
  display: flex;
  /* margin-top: -90px; */
  top: 0;
  gap: px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(79, 86, 101);
  /* gap: 10px; */
}

@media (max-width: 857px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 32px;
    align-items: center;
  }
  .nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav ul .nav_link {
    display: none;
    list-style: none;
    color: white;
  }
  .nav .burger-img {
    width: 49px;
    height: 49px;
    display: inline-block;
  }
  .burgerMenu {
    display: block;
    width: 94%;
    height: 100%;
    background: rgba(45, 49, 49, 0.9843137255);
    /* border: 1px solid; */
    position: absolute;
    top: 70px;
    left: 0;
    /* bottom: 40px; */
    display: flex;
    transform: translateX(-120%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in;
    text-align: center;
  }
}
.About .section1 {
  padding-bottom: 126px;
  margin-top: 128px;
}
.About .section1 .container {
  display: flex;
  align-items: center;
}
.About .section1 .container .sec1-text h4 {
  padding-bottom: 8px;
}
.About .section1 .container .sec1-text h2 {
  font-size: 54px;
  padding-bottom: 31px;
}
.About .section1 .container .sec1-text p {
  max-width: 484px;
  width: 100%;
}
.About .hero_img {
  max-height: 640px;
  width: 100%;
}
.About .section2 .container .sec2-text {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  background-color: #f4f5f5;
  padding-top: 96px;
  padding-left: 80px;
  padding-bottom: 96px;
}
.About .section2 .container .sec2-text .sec2-left h2 {
  font-size: 38px;
  padding-bottom: 16px;
}
.About .section2 .container .sec2-text .sec2-left p {
  padding-right: 60px;
  width: 515px;
}
.About .section2 .container .sec2-text .sec2-right h2 {
  font-size: 38px;
  padding-bottom: 16px;
}
.About .section2 .container .sec2-text .sec2-right p {
  width: 515px;
}
.About .section2 .container .sec2-img {
  margin-bottom: 128px;
}
.About .section3 {
  background-color: #f4f6fc;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.About .section3 .sec3-top {
  padding-top: 128px;
  font-size: 48px;
  padding-bottom: 48px;
}
.About .section3 .About-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.About .section3 .About-cards .About-card {
  background-color: #fff;
  width: 296px;
  height: 344px;
  text-align: center;
}
.About .section3 .About-cards .About-card img {
  margin-top: 48px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 30px;
}
.About .section3 .About-cards .About-card p {
  padding-top: 2px;
}

@media (max-width: 1024px) {
  .sec2-text {
    flex-wrap: wrap;
  }
  .About .section1 {
    padding-bottom: 126px;
    margin-top: 128px;
  }
  .About .section1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .About .section1 .container .sec1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .About .section1 .container .sec1-text h4 {
    padding-bottom: 8px;
  }
  .About .section1 .container .sec1-text h2 {
    font-size: 54px;
    padding-bottom: 31px;
  }
  .About .section1 .container .sec1-text p {
    width: 100%;
    padding-bottom: 20px;
  }
  .About .hero_img {
    max-height: 630px;
    max-width: 500px;
  }
  .About .section2 .container .sec2-text {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    background-color: #f4f5f5;
    padding-top: 96px;
    padding-left: 80px;
    padding-bottom: 96px;
  }
  .About .section2 .container .sec2-text .sec2-left h2 {
    font-size: 38px;
    padding-bottom: 16px;
  }
  .About .section2 .container .sec2-text .sec2-left p {
    padding-right: 60px;
    width: 515px;
  }
  .About .section2 .container .sec2-text .sec2-right h2 {
    font-size: 38px;
    padding-bottom: 16px;
  }
  .About .section2 .container .sec2-text .sec2-right p {
    width: 515px;
  }
  .About .section2 .container .sec2-img {
    margin-bottom: 128px;
  }
  .About .section3 {
    background-color: #f4f6fc;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .About .section3 .sec3-top {
    padding-top: 128px;
    font-size: 48px;
    padding-bottom: 48px;
  }
  .About .section3 .About-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .About .section3 .About-cards .About-card {
    background-color: #fff;
    width: 296px;
    height: 344px;
    text-align: center;
  }
  .About .section3 .About-cards .About-card img {
    margin-top: 48px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 30px;
  }
  .About .section3 .About-cards .About-card p {
    padding-top: 2px;
  }
}/*# sourceMappingURL=style.css.map */